.about-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.policy-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.policy-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.policy-container h3 {
  color: #555;
  margin-top: 20px;
}

.policy-container p {
  color: #666;
  margin-bottom: 15px;
}

.policy-container p, .policy-container ul {
  color: #666;
  margin-bottom: 15px;
  line-height: 1.6;
}

strong{
  color: #666;
  margin-bottom: 15px;
  line-height: 1.6;
}
